
^ContentPage {
  background-color: lightgreen;
  margin: 20
}

stacklayout {
    background-color: #F5F2BD;
    -xf-spacing: 2;
}

stacklayout>stacklayout {
    background-color: orange;
}

label, entry, editor {
    font-size: caption;
}

/*label {
    background-color: red; 
}
*/

entry {
    background-color: yellow; 
}

checkbox {
    background-color: blue;
    color: yellow;
    /*transform: scale(0.6);*/
}